<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nashvilleeventcalendar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.asgn1group4.nashvilleeventcalendar.EventListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.asgn1group4.nashvilleeventcalendar.EventDetailActivity"
            android:label="@string/title_event_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nashvilleeventcalendar.EventListActivity" />
        </activity>
        <activity
            android:name="com.asgn1group4.nashvilleeventcalendar.AddEventActivity"
            android:label="@string/title_activity_add_event" >
        </activity>
        <activity
            android:name=".EventFilterActivity"
            android:label="@string/filter_event_activity_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="EventListActivity" />
        </activity>
        <activity
            android:name="com.asgn1group4.nashvilleeventcalendar.FilterEventListActivity"
            android:label="@string/filter_event_activity_title" >
        </activity>
    </application>

</manifest>
